<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
  <h3>Odjava od govorilnih ur</h3>
</section>

<section class="w3-container w3-section">

<%=
form_for :parentcancel, "/parentcancel", method: :patch do
  if parent_conferences.any?
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey"do
          th do
            "Učitelj"
          end
          th do
            "Mesec"
          end
          th do
            "Dan"
          end
          th do
            "Termin"
          end
          th do
            "Odjava"
          end
        end
      end
      parent_conferences.each do |conference|
        tr do
          td do
            "#{teacher_names[conference.teacher_id].surname}, #{teacher_names[conference.teacher_id].name}"
          end
          td do
            conference.month_id
          end
          td do
            conference.day
          end
          td do
            slots[conference.slot_id]
          end
          td do
            check_box :pconferences, name: 'parentcancel[pconferences][]', value: conference.id, id: "ID #{conference.id}", class: "w3-check"
          end
        end
      end
    end
  else
  end



  submit 'Potrdi', class: "w3-btn w3-blue-grey"
end
%>
</section>
