<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
<h3>Zapiranje/odpiranje prijav na govorilne ure</h3>
  <h4>Tukaj lahko zaprete ali odprete prijave na govorilne ure za starše. Učitelji
  bodo še lahko prijavljali starše na govorilne ure. Prav tako se bodo starši še
  lahko odjavili od govorilnih ur.
  <h4>
</section>

<section class="w3-container w3-section">
<%=
  form_for :setting, routes.setting_path(setting.id), id: "formCheck", method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Status"
          end
          th do
            "Uredi"
          end
        end
      end
      tr do
        td do
          label "Trenutni status zapore:"
        end
        td do
          "#{setting.value}"
        end
        td do
          select :value, booking_lock_values, class: "w3-select"
        end
      end
    end

    div do
        submit 'Potrdi', class: "dialog-confirm vnos w3-btn w3-blue-grey"
    end
  end
%>
</section>

<div id="dialog">
  <p>Ste prepričani, da želite izvesti to dejanje?</p>
</div>
