<%= render partial: 'shared/notice'%>

<h2>Nadzorna plošča</h2>

<h3>Ustvari</h3>
  <section class="w3-section">
    <ul class="w3-navbar w3-blue-grey">
      <li><%= link_to 'Ustvari starša', '/parents/new' %></li>
      <li><%= link_to 'Ustvari učitelja', '/teachers/new' %></li>
      <li><%= link_to 'Ustvari termin', '/slots/new' %></li>
      <li><%= link_to 'Ustvari mesec', '/months/new' %></li>
      <li><%= link_to 'Ustvari govorilne ure', '/conferences/new' %></li>
    </ul>
  </section>
<hr>
<h3>Prikaži</h3>
  <section class="w3-section">
    <ul class="w3-navbar w3-blue-grey">
      <li><%= link_to 'Prikaži vse starše', '/parents' %></li>
      <li><%= link_to 'Prikaži vse učitelje', '/teachers' %></li>
      <li><%= link_to 'Prikaži vse termine', '/slots' %></li>
      <li><%= link_to 'Prikaži vse mesece', '/months' %></li>
      <li><%= link_to 'Prikaži vse govorilne ure', '/conferences' %></li>
      <li><%= link_to 'Prikaži vsa obvestila', '/posts' %></li>
    </ul>
  </section>
<hr>
<h3>Spremembe govorilnih ur</h3>
  <section class="w3-section">
    <ul class="w3-navbar w3-blue-grey">
      <li><%= link_to 'Odpovej govorilne ure za učitelja', '/deakt_teacher_confday/edit' %></li>
      <li><%= link_to 'Prekliči odpoved govorilnih ur za učitelja', '/reakt_teacher_confday/edit' %></li>
      <li><%= link_to 'Ustvari obvestilo', '/posts/new' %></li>
      <li><%= link_to 'Spremeni dan govorilnih ur', '/change_ptc_day/edit' %></li>
    </ul>
  </section>
<hr>
<h3>Napredne nastavitve</h3>
  <section class="w3-section">
    <%= link_to 'Zapri/odpri prijave na govorilne ure', '/settings/1/edit', class: "w3-btn w3-blue-grey" %>
  </section>
