<%= render partial: 'shared/notice'%>

<div class="w3-section">
  <div class="w3-container w3-blue-grey">
  <h5>Prijava za starše</h5>
  </div>

  <%=
    form_for :parent_session, '/parent_sessions' do
      p do
        label         "E-pošta"
        text_field    :email, class: "w3-input"
      end

      p do
        label         "Geslo"
        password_field    :password, class: "w3-input"
      end

      p do
        submit 'Potrdi', class: "w3-btn w3-blue-grey"
      end
    end
  %>
</div>
