<%= render partial: 'shared/notice'%>

<section class="w3-section">
  <h3>Dobrodošli v spletni aplikaciji za prijavo na govorilne ure.</h3>


<% if session[:current_user]%>


  <h4>
    Govorilne ure so vsak drugi torek v mesecu, razen v
    septembru, januarju in juniju, ko so roditeljski sestanki.
  </h4>


  <h4>
    Na govorilne ure se lahko prijavite, ko so prijave odprte in
    je simbol semaforja v menijski vrstici zelen.
  </h4>


<% else %>

  <h4>
    Za prijavo na govorilne ure se morate vpisati v aplikacijo.
    Uporabite uporabniško ime in geslo, ki ste ju prejeli v ločenih e-poštnih sporočilih.
  </h4>


<% end %>
</section>
