<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :conference, routes.conference_path(conference.id), method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Posodobi govorilne ure"
          end
        end
      end
      tr do
        td do
          label         "Leto"
        end
        td do
          select    :year, years, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Mesec: #{month_values[conference.month_id]}"
        end
        td do
          select    :month_id, month_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Dan"
        end
        td do
          text_field    :day, value: conference.day
        end
      end

      tr do
        td do
          label         "Učitelj: #{t_values[teacher_id]}"
        end
        td do
          select    :teacher_id, t_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Termin: #{slot_values[slot_id]}"
        end
        td do
          select    :slot_id, slot_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Status"
        end
        td do
          text_field    :status, value: conference.status
        end
      end

      tr do
        td do
          label         "Starš: #{p_values[conference.parent_id]}"
        end
        td do
          select    :parent_id, p_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Datum"
        end
        td do
          conference.date
        end
      end

      tr do
        td do
          label         "Enoznačna oznaka"
        end
        td do
          conference.uid
        end
      end

    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
