<%= render partial: 'shared/notice'%>

<section class="w3-section">
    <h3>Govorilne ure</h3>

  <% if conferences.any? %>

  <table class="w3-table w3-striped w3-border">
    <thead>
        <tr class="w3-blue-grey">
          <th>Mesec</th>
          <th>Dan</th>
          <th>Učitelj</th>
          <th>Termin</th>
          <th>Datum</th>
          <th>Starš</th>
          <th>Status</th>
          <th colspan=2>Prikaz in urejanje</th>
        </tr>
      </thead>
        <% conferences.each do |conference| %>
          <tr>
            <td><%= month_values[conference.month_id] %></td>
            <td><%= conference.day %></td>
            <td><%= teachers_values[conference.teacher_id] %></td>
            <td><%= slot_values[conference.slot_id] %></td>
            <td><%= conference.date %></td>
            <td><%= parents_values[conference.parent_id] %></td>
            <td><%= conference.status %></td>
            <td><%= link_to "Prikaži", "/conferences/#{conference.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/conferences/#{conference.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni govorilnih ur.</p>
<% end %>
</section>
