<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :conference, '/conferences' do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Ustvari govorilne ure"
          end
        end
      end
      tr do
        td do
          label         "Leto"
        end
        td do
          select    :year, years, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Mesec"
        end
        td do
          select    :month_id, months, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Dan"
        end
        td do
          text_field    :day
        end
      end

      tr do
        td do
          label         "Učitelj"
        end
        td do
          select    :teacher_id, t_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Termin"
        end
        td do
          select    :slot_id, slot_values, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Status"
        end
        td do
          select    :status, statuses, class: "w3-select"
        end
      end

    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
