<%= render partial: 'shared/notice'%>

<section class="w3-section">

    <table class="w3-table w3-striped w3-border">
      <thead>
        <tr class="w3-blue-grey">
          <th colspan="2">
            Govorilne ure
          </th>
        </tr>
      </thead>
      <tr>
        <td>Leto</td>
        <td><%= conference.year %></td>
      </tr>
      <tr>
        <td>Mesec</td>
        <td><%= month_values[conference.month_id] %></td>
      </tr>
      <tr>
        <td>Dan</td>
        <td><%= conference.day %></td>
      </tr>
      <tr>
        <td>Učitelj</td>
        <td><%= "#{teacher.name}, #{teacher.surname}" %></td>
      </tr>
      <tr>
        <td>Termin</td>
        <td><%= slot.period %></td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= conference.status %></td>
      </tr>
      <tr>
        <td>Starš</td>
        <td>
            <% if parent %>
                <%= "#{parent.name}, #{parent.surname}" %>
            <% else %>
                Ni prijave
            <% end %>
        </td>
      </tr>
      <tr>
        <td>Datum</td>
        <td><%= conference.date %></td>
      </tr>
      <tr>
        <td>Enoznačna oznaka</td>
        <td><%= conference.uid %></td>
      </tr>
    </table>
</section>
