<%= render partial: 'shared/notice'%>

<h3>Pošiljanje zahteve za ponastavitev gesla</h3>
<div class="inst-block">
  <h4>Izberite vrsto uporabniškega računa in vnesite svoj e-naslov, na katerega boste prejeli povezavo za ponastavitev gesla.

  Povezava za ponastavitev gesla bo veljavna 2 uri od oddaje zahteve.
  <h4>
</div>
<br>

<section class="w3-container w3-section">
  <%=
    form_for :passwordreset, "/passwordreset", method: :patch do
        table class: "w3-table w3-striped w3-border" do
          thead do
            tr class: "w3-blue-grey"do
              td colspan: 2 do
                h5 "Ponastavitev gesla"
              end
            end
          end

          tr do
            td do
              label         "Starš"
            end
            td do
              radio_button  :user_class, "Starš", class: "w3-radio"
            end
          end

          tr do
            td do
              label         "Učitelj"
            end
            td do
              radio_button  :user_class, "Učitelj", class: "w3-radio"
            end
          end

          tr do
            td do
              label         "E-naslov"
            end
            td do
              email_field :email, class: "w3-input"
            end
          end

        end
        submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  %>
</section>
