<%= render partial: 'shared/notice'%>

<section class="w3-section">
    <h3>Meseci</h3>

  <% if months.any? %>

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>Mesec</th>
        <th colspan=2>Prikaz in urejanje</th>
      </tr>
    </thead>
        <% months.each do |month| %>
          <tr>
            <td><%= month.name %></td>
            <td><%= link_to "Prikaži", "/months/#{month.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/months/#{month.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni mesecev.</p>
  <% end %>
</section>
