<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :month, '/months' do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Ustvari mesec"
          end
        end
      end
      tr do
        td do
          label         "Mesec"
        end
        td do
          text_field    :name
        end
      end
    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
