<%= render partial: 'shared/notice'%>

<section class="w3-section">

    <table class="w3-table w3-striped w3-border">
       <thead>
         <tr class="w3-blue-grey">
           <th colspan="2">Mesec</th>
         </tr>
       </thead>
      <tr>
        <td>Ime</td>
        <td><%= month.name %></td>
      </tr>
    </table>
</section>
