<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :parent, routes.parent_path(parent.id), method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Posodobi starša"
          end
        end
      end
      tr do
        td do
          label         "Ime"
        end
        td do
          text_field    :name, value: parent.name
        end
      end

      tr do
        td do
          label         "Priimek"
        end
        td do
          text_field    :surname, value:  parent.surname
        end
      end

      tr do
        td do
          label         "E-pošta"
        end
        td do
          text_field    :email, value: parent.email
        end
      end
    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
