<%= render partial: 'shared/notice'%>

<section class="w3-section">
  <h3>Starši</h3>

  <% if parents.any? %>

    <table class="w3-table w3-striped w3-border">
      <thead>
        <tr class="w3-blue-grey">
          <th>Ime</th>
          <th>Priimek</th>
          <th>E-pošta</th>
          <th colspan=2>Prikaz in urejanje</th>
        </tr>
      </thead>
        <% parents.each do |parent| %>
          <tr>
            <td><%= parent.name %></td>
            <td><%= parent.surname %></td>
            <td><%= parent.email %></td>
            <td><%= link_to "Prikaži", "/parents/#{parent.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/parents/#{parent.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni staršev.</p>
  <% end %>
</section>
