<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :parent, '/parents' do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Ustvari starša"
          end
        end
      end
      tr do
        td do
          label         "Ime"
        end
        td do
          text_field    :name
        end
      end
      tr do
        td do
          label         "Priimek"
        end
        td do
          text_field    :surname
        end
      end

      tr do
        td do
          label         "E-pošta"
        end
        td do
          text_field    :email
        end
      end

      tr do
        td do
          label         "Geslo"
        end

        td do

          password_field    :password
        end
      end

      tr do
        td do
          label         "Potrditev gesla"
        end

        td do

          password_field    :password_confirmation
        end
      end
    end

    div do
        submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
