<%= render partial: 'shared/notice'%>

<section class="w3-section">

    <table class="w3-table w3-striped w3-border">
      <thead>
        <tr class="w3-blue-grey">
          <th colspan="2">
            Starš
          </th>
        </tr>
      </thead>
      <tr>
        <td>Ime</td>
        <td><%= parent.name %></td>
      </tr>
      <tr>
        <td>Priimek</td>
        <td><%= parent.surname %></td>
      </tr>
      <tr>
        <td>E-pošta</td>
        <td><%= parent.email %></td>
      </tr>
    </table>
</section>
