<% if flash[:success_notice] %>
  <div class="success-notice w3-container w3-green w3-card-2">
    <h3>
      <%= flash[:success_notice] %>
   </h3>
  </div>
<% elsif flash[:failed_notice] %>
  <div class="failed-notice w3-container w3-red w3-card-2">
    <h3>
      <%= flash[:failed_notice] %>
    </h3>
  </div>
<% end %>
