<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
<h3>Sprememba dneva govorilnih ur v mesecu</h3>
  <h4>Izberite mesec, za katerega želite spremeniti dan govorilnih ur. Nato vnesite
  nov želeni dan in potrdite izbiro.

  Dan govorilnih ur lahko spremenite tudi samo za enega učitelja. V tem primeru s
  spustnega seznama izberite želenega učitelja.

  Dan govorilnih ur bo spremenjen v vseh govorilnih urah ne glede na njihov status.
  <h4>
</section>

<section class="w3-container w3-section">
<%=
  form_for :change_ptc_day, "/change_ptc_day", method: :patch do
    table class: "w3-table w3-striped w3-border" do
      tr do
        td do
          label         "Učitelj"
        end
        td do
          select :teacher_id, teachers, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Mesec"
        end
        td do
          select :month_id, months, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Dan"
        end
        td do
          select :day, days, class: "w3-select"
        end
      end
    end
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
  end
%>
</section>
