<%= render partial: 'shared/notice'%>

<section class="w3-section">
  <h3>Seznam prijavljenih staršev na govorilne ure</h3>


  <% if teacher_conferences.any? %>

    <table class="w3-table w3-striped w3-border">
      <thead>
        <tr class="w3-blue-grey">
          <th>Mesec</th>
          <th>Dan</th>
          <th>Termin</th>
          <th>Status</th>
          <th>Starš</th>
          <th>Opomba starša</th>
        </tr>
      </thead>
        <% teacher_conferences.each do |t_conference| %>
          <% if t_conference.parent_id > 0 %>
            <tr>
              <td><%= months[t_conference.month_id] %></td>
              <td><%= t_conference.day %></td>
              <td><%= slots[t_conference.slot_id] %></td>
              <td><%= t_conference.status %></td>
              <td><%= "#{parents_names[t_conference.parent_id].surname}, #{parents_names[t_conference.parent_id].name}" %></td>
              <td><%= t_conference.parent_comment %></td>
            </tr>
          <% end %>
        <% end %>
    </table>

  <% else %>
  <% end %>

  <%= link_to "Prijavi starša na govorilne ure", '/teacherbooking/edit', class: "w3-btn w3-blue-grey" %>
  <%= link_to "Odjavi starša od govorilnih ur", '/teachercancel/edit', class: "w3-btn w3-blue-grey" %>
  <%= link_to "Ustvari e-sporočilo", '/temail/new', class: "w3-btn w3-blue-grey" %>
  <%= link_to "Prosti termini za tekoči mesec", '/unbookedperiods', class: "w3-btn w3-blue-grey" %>
</section>
