<div id="section-to-print">
  <% if unbooked_conferences.any? %>
    <h3>Seznam prostih terminov</h3>

    <table class="w3-table w3-striped w3-border">
      <tr>
        <td>
          <h4>Mesec:</h4>
        </td>
        <td>
          <h4><%= month_id %></h4>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Učitelj:</h4>
        </td>
        <td>
          <h4><%= "#{teacher.name}, #{teacher.surname}" %></h4>
        </td>
      </tr>
    </table>

    <table class="w3-table w3-striped w3-border">
      <thead>
        <tr class="w3-blue-grey">
          <td>Termin</td>
        </tr>
      </thead>
        <% unbooked_conferences.each do |unbooked_conference| %>
          <tr>
            <td><%= slot_values[unbooked_conference.slot_id] %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <h4>Ni govorilnih ur.</h4>
  <% end %>
</div>
