<section class="w3-container w3-section">
  <h3>Testiranje aplikacije</h3>
  <h5>Vsi podatki v tej testni aplikaciji so ustvarjeni naključno
  in ne predstavljajo resničnih oseb. E-poštni naslovi ne delujejo
  in služijo le v prikazne namene.
</h5>
</section>

<section class="w3-container w3-section">
  <h5>Za testiranje aplikacije uporabite spodnje podatke glede na vlogo, ki jo želite testirati.</h5>
</section>

<section class="w3-container w3-section">
  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>E-pošta</th>
        <th>Geslo</th>
        <th>Vloga</th>
      </tr>
    </thead>
    <tr>
      <td>Tine_Berik@mail.com</td>
      <td>brez</td>
      <td>Starš</td>
    </tr>
    <tr>
      <td>Anita_Rihtar@mail.com</td>
      <td>nima</td>
      <td>Administrator/učitelj</td>
    </tr>
    <tr>
      <td>Lea_Leben@mail.com</td>
      <td>geslo2</td>
      <td>Učitelj</td>
    </tr>
  </table>
</section>
<hr>


<section class="w3-container w3-section">
<% if session[:current_user].class == Parent %>
    <h2>Navodila za starše</h2>

    Za uporabo aplikacije se morate najprej prijaviti v aplikacijo z vašim
    e-naslovom in geslom. Priporočeno je, da ob prvi prijavi ponastavite
     geslo (gumb <b>Ponastavi geslo</b>).
     <br><br>
    Na domači strani vidite obvestila aplikacije. Prikazanih je zadnjih pet
    obvestil, lahko pa prikažete vsa obvestila (gumb <b>Prikaži vsa obvestila</b>).
    <br><br>

    Na začetni strani vidite seznam govorilnih ur, na katere ste trenutno prijavljeni.
    Če se želite prijaviti ali odjaviti od govorilnih ur, izberite
    ustrezen gumb na začetni strani.

    <h3>Prijava na govorilne ure:</h3>
    <ol>
      <li>Kliknite na gumb <b>Prijava na govorilne ure</b></li>
      <li>Na naslednjem ekranu najprej izberite mesec.</li>
      <li>Po izbiri meseca, se prikaže dan, ko so organizirane govorilne ure.</li>
      <li>Izberite želenega učitelja.</li>
      <li>Po izbiri učitelja, se osveži seznam terminov, tako da so prikazani le prosti termini.</li>
      <li>Izberite želeni termin govorilnih ur.</li>
      <li>V polje za opombo lahko vnesete sporočilo za učitelja.</li>
      <li>Kliknite na gumb <b>Potrdi</b>.</li>
    </ol>

    Aplikacija vas bo opozorila, če se boste želeli prijaviti v istem mesecu k istemu učitelju ali
    k drugemu učitelju za termin, v katerem ste že prijavljeni v tem mesecu.

    Aplikacija vas bo opozorila tudi, če se bo kdo drug prijavil k vašemu želenemu učitelju
    v tem mesecu za ta termin v času, ko boste vi izbirali podatke za prijavo.

    Po uspešni prijavi boste preusmerjeni na vašo začetno stran.

    <h3>Odjava od govorilnih ur</h3>
    <ol>
      <li>Kliknite na gumb <b>Odjava od govorilnih ur</b></li>
      <li>Na naslednjem ekranu označite govorilne ure, od katerih se
      želite odjaviti. Izberete lahko več terminov hkrati.</li>
      <li>Kliknite na gumb <b>Potrdi</b>.</li>
    </ol>

    Po uspešni odjavi boste preusmerjeni na začetno stran.
<hr>
<% end %>
</section>

<section class="w3-container w3-section">
<% if session[:current_user].class == Teacher %>
    <h2>Navodila za učitelje</h2>

    Za uporabo aplikacije se morate najprej prijaviti v aplikacijo z vašim
    e-naslovom in geslom. Priporočeno je, da ob prvi prijavi ponastavite
     geslo (gumb <b>Ponastavi geslo</b>).

    Na začetni strani vidite seznam staršev, ki so prijavljeni k vam
    na govorilne ure.

    Če starš ne uporablja aplikacije, ga lahko vi po dogovoru prijavite ali
    odjavite od govorilnih ur.

    <h3>Prijava starša na govorilne ure:</h3>
    <ol>
      <li>Kliknite na gumb <b>Prijavi starša na govorilne ure</b></li>
      <li>Na naslednjem ekranu najprej izberite mesec.</li>
      <li>Po izbiri meseca, se prikaže dan, ko so organizirane govorilne ure.</li>
      <li>Nato vnesite e-naslov starša.</li>
      <li>Po izbiri starša, se osveži seznam terminov, tako da so prikazani le prosti termini.</li>
      <li>Izberite želeni termin govorilnih ur.</li>
      <li>Kliknite na gumb <b>Potrdi</b>.</li>
    </ol>

    Aplikacija vas bo opozorila, če boste želeli starša prijaviti v istem mesecu k istemu učitelju ali
    k drugemu učitelju za termin, v katerem je že prijavljen v tem mesecu.

    Aplikacija vas bo opozorila tudi, če se bo kdo drug prijavil k želenemu učitelju
    v tem mesecu za ta termin v času, ko boste vi izbirali podatke za prijavo.

    Po uspešni prijavi boste preusmerjeni na vašo začetno stran.

    <h3>Odjava starša od govorilnih ur</h3>
    <ol>
      <li>Kliknite na gumb <b>Odjavi starša od govorilnih ur</b></li>
      <li>Na naslednjem ekranu označite govorilne ure, od katerih
        želite starša odjaviti. Izberete lahko več terminov hkrati.</li>
      <li>Kliknite na gumb <b>Potrdi</b>.</li>
    </ol>

    Po uspešni odjavi boste preusmerjeni na začetno stran.

    <h3>Pisanje e-sporočila za starše</h3>
    <ol>
      <li>Kliknite na gumb <b>Ustvari e-sporočilo</b></li>
      <li>Izberite starša.</li>
      <li>Vnesite naslov sporočila.</li>
      <li>Vnesite sporočilo.</li>
      <li>Kliknite na gumb <b>Potrdi</b>.</li>
    </ol>

    Po pošiljanju sporočila boste preusmerjeni na začetno stran.

    <h3>Prikaz prostih terminov za tekoči mesec</h3>
    <ol>
      <li>Kliknite na gumb <b>Prosti termini za tekoči mesec</b></li>
      <li>Prikazan bo seznam vseh vaših prostih terminov za
        tekoči mesec, ki ga lahko natisnete.</li>
    </ol>
<hr>
<% end %>
</section>

<section class="w3-container w3-section">
<% if session[:current_user].class == Teacher && session[:current_user].role == "administrator" %>
    <h3>Navodila za administratorja</h3>

    Kot administrator lahko na nadzorni plošči ustvarite, posodobite ali prikažete
    starše, učitelje, mesece, termine, govorilne ure in obvestila.

    Poleg tega lahko odpoveste ali prekličete odpoved govorilnih ur za enega ali vse učitelje za
    želeni mesec. Spremenite lahko tudi dan govorilnih ur v mesecu. Lahko ga spremenite za
    vse učitelje ali le za enega učitelja.

    Kot administrator imate možnost zapreti prijave na govorilne ure za starše. Učitelji pa bodo še vedno
    lahko prijavljali ali odjavljali starše z govorilnih ur.

    Aplikacija trenutno omogoča naslednje primere uporabe:

    <ol>
      <li>Starš se prijavi v aplikacijo in vidi govorilne ure, na katere je prijavljen.</li>
      <li>Učitelj se prijavi v aplikacijo in vidi seznam prijavljenih staršev na govorilne ure.</li>
      <li>Starš se prijavi na določene govorilne ure (ura + dan + mesec + učitelj).</li>
      <li>Administrator lahko odpove ali prekliče odpoved govorilnih ur za en dan za enega učitelja.</li>
      <li>Administrator lahko odpove ali prekliče odpoved govorilnih ur za en dan za vse učitelje.</li>
      <li>Administrator lahko govorilne odpira za en mesev vnaprej, če so na začetku vse neaktivne.</li>
      <li>Učitelj lahko prijavi starša na svoje govorilne ure.</li>
      <li>Administrator ustvari starša v sistemu.</li>
      <li>Administrator ustvari učenca v sistemu.</li>
      <li>Administrator ustvari termin v sistemu.</li>
      <li>Administrator ustvari mesec v sistemu.</li>
      <li>Administrator ustvari učitelja v sistemu.</li>
      <li>Administrator ustvari govorilne ure v sistemu.</li>
      <li>Administrator posodobi starša v sistemu.</li>
      <li>Administrator posodobi učenca v sistemu.</li>
      <li>Administrator posodobi termin v sistemu.</li>
      <li>Administrator posodobi mesec v sistemu.</li>
      <li>Administrator posodobi učitelja v sistemu.</li>
      <li>Administrator posodobi govorilne ure v sistemu.</li>
      <li>Starš se odjavi od govorilnih ur.</li>
      <li>Učitelj lahko odjavi starša z določenih govorilnih ur.</li>
      <li>Uporabnik ponastavi geslo.</li>
      <li>Administrator doda obvestilo ali pa je dodano samodejno ob odpovedi ali preklicu odpovedi govorilnih ur.</li>
      <li>Administrator spremeni dan govorilnih ur v mesecu za enega ali vse učitelje.</li>
      <li>Administrator lahko zapre prijavljanje za starše, učitelji pa še lahko prijavljajo starše na govorilne ure.</li>
      <li>Učitelj pošlje obvestilo prek e-pošte staršu.</li>
      <li>Starš doda opombo za učitelja, ko se prijavi na govorilne ure.</li>
    </ol>
    <hr>
<% end %>
</section>

<section class="w3-container w3-section">
<% if session[:current_user] == nil %>
  <h3>Za ogled podrobnih navodil se morate prijaviti.</h3>
<% end %>
</section>
