<%= render partial: 'shared/notice'%>

<section class="w3-section">
    <h3>Obvestila</h3>

  <% if posts.any? %>

    <table class="w3-table w3-striped w3-border">
      <thead>
          <tr class="w3-blue-grey">
            <th>Naslov</th>
            <th>Obvestilo</th>
            <th>Datum objave</th>
            <th colspan=2>Prikaz in urejanje</th>
        </tr>
      </thead>
        <% posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.body %></td>
            <td><%= post.published_at.strftime("%d. %m. %Y. %H:%M")
 %></td>
            <td><%= link_to "Prikaži", "/posts/#{post.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/posts/#{post.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni obvestil.</p>
  <% end %>
</section>
