<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
<%=
  form_for :post, '/posts' do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey"do
          th colspan: 2 do
            "Ustvari obvestilo"
          end
        end
      end
      tr do
        td do
          label         "Naslov"
        end
        td do
          text_field    :title
        end
      end

      tr do
          td do
            label         "Obvestilo"
          end
          td do
            text_area    :body
          end
        end
    end

      submit 'Potrdi', class: "w3-btn w3-blue-grey"
  end
%>
</section>
