<%= render partial: 'shared/notice'%>

<section class="w3-section">

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>
          Naslov
        </th>
        <th>
          Obvestilo
        </th>
        <th>
          Datum objave
        </th>
      </tr>
    </thead>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.published_at.strftime("%d. %m. %Y. %H:%M") %></td>
      </tr>
    </table>
</section>
