<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :slot, routes.slot_path(slot.id), method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Posodobi termin"
          end
        end
      end
      tr do
        td do
          label         "Termin"
        end
        td do
          text_field    :period, value: slot.period
        end
      end
    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
