<%= render partial: 'shared/notice'%>

<section class="w3-section">
    <h3>Termini</h3>

  <% if slots.any? %>

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>Termin</th>
        <th colspan=2>Prikaz in urejanje</th>
      </tr>
      </thead>
        <% slots.each do |slot| %>
          <tr>
            <td><%= slot.period %></td>
            <td><%= link_to "Prikaži", "/slots/#{slot.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/slots/#{slot.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni terminov.</p>
  <% end %>
</section>
