<%= render partial: 'shared/notice'%>

<section class="w3-section">

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th colspan="2">
          Termin
        </th>
      </tr>
    </thead>
      <tr>
        <td>Termin</td>
        <td><%= slot.period %></td>
      </tr>
    </table>
</section>
