<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
<h3>Preklic odpovedi govorilnih ur</h3>
  <h4>Če izberete mesec in učitelja, boste preklicali odpoved vseh govorilnih ur
  za izbranega učitelja v izbranem mesecu.

  Če pa izberete samo mesec, boste preklicali odpoved vseh govorilnih ur za vse učitelje v
  izbranem mesecu.
  <h4>
</section>

<section class="w3-container w3-section">
<%=
  form_for :reakt_teacher_confday, "/reakt_teacher_confday", method: :patch do
    table class: 'w3-table w3-striped w3-border' do
      tr do
        td do
          label         "Mesec"
        end
        td do
          select :month_id, months, class: "w3-select"
        end
      end

      tr do
        td do
          label         "Učitelj"
        end
        td do
          select :teacher_id, t_values, class: "w3-select"
        end
      end
    end

        submit 'Potrdi', class: "w3-btn w3-blue-grey"
  end
%>
</section>
