<%= render partial: 'shared/notice'%>

<section class="w3-section">
  <h3>Govorilne ure, na katere sem prijavljen</h3>

<% if parent_conferences.any? %>

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>Učitelj</th>
        <th>Mesec</th>
        <th>Dan</th>
        <th>Termin</th>
        <th>Opomba</th>
      </tr>
    </thead>
      <% parent_conferences.each do |conference| %>
        <tr>
          <td><%= "#{teacher_names[conference.teacher_id].surname}, #{teacher_names[conference.teacher_id].name}" %></td>
          <td><%= months[conference.month_id] %></td>
          <td><%= conference.day %></td>
          <td><%= slots[conference.slot_id] %></td>
          <td><%= conference.parent_comment %></td>
        </tr>
      <% end %>
  </table>
<% else %>
<% end %>



  <%= link_to "Prijava na govorilne ure", '/parent_booking/edit', class: "w3-btn w3-blue-grey" %>
  <%= link_to "Odjava od govorilnih ur", '/parentcancel/edit', class: "w3-btn w3-blue-grey" %>
</section>
