<!DOCTYPE html>
<html>
  <head>
    <title>Spletna prijava na govorilne ure</title>
    <%= stylesheet 'w3css.css', 'tweak.css', 'print.css', 'jquery-ui.css' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon %>
  </head>

  <body>

    <header class="w3-container w3-blue-grey">
      <section class="w3-center">
        <h1 class="w3-xxlarge">Spletna prijava na govorilne ure</h1>
      </section>
    </header>


    <ul class="w3-navbar w3-large w3-light-grey w3-left-align">
      <li class="w3-hide-medium w3-hide-large w3-light-grey w3-opennav w3-right" id="my_burger">
        <a href="javascript:void(0);">☰</a>
      </li>
      <li>
        <% if session['LOCK'] == "On" %>
          <%= image 'red.png' %>
        <% else %>
          <%= image 'green.png' %>
        <% end %>
      </li>
      <li class="w3-hide-small"><%= link_to 'Domov', '/' %></li>
      <% if session[:current_user]%>
        <% if session[:current_user].class == Teacher && session[:current_user].role == "administrator" %>
          <li class="w3-hide-small"><%= link_to 'Nadzorna plošča', '/configuration'%></li>
        <% end %>
      <% end %>
      <li class="w3-hide-small"><%= link_to 'Prijava za starše', '/parent_sessions/new' %></li>
      <li class="w3-hide-small"><%= link_to 'Prijava za učitelje', '/teacher_sessions/new' %></li>
      <% if session[:current_user]%>
        <% if session[:current_user].class == Teacher %>
          <li class="w3-hide-small"><%= link_to 'Moja začetna stran', '/teacher_home'%></li>
        <% end %>
      <% end %>
      <% if session[:current_user]%>
        <% if session[:current_user].class == Parent %>
          <li class="w3-hide-small"><%= link_to 'Moja začetna stran', '/parent_home'%></li>
        <% end %>
      <% end %>
      <li class="w3-hide-small"><%= link_to 'Odjava', '/logout' %></li>
    </ul>

    <div id="hidden_burger" class="w3-hide w3-hide-large w3-hide-medium">
      <ul class="w3-navbar w3-left-align w3-large w3-light-grey">
        <li><%= link_to 'Domov', '/' %></li>
        <% if session[:current_user]%>
          <% if session[:current_user].class == Teacher && session[:current_user].role == "administrator" %>
            <li><%= link_to 'Nadzorna plošča', '/configuration'%></li>
          <% end %>
        <% end %>
        <li><%= link_to 'Prijava za starše', '/parent_sessions/new' %></li>
        <li><%= link_to 'Prijava za učitelje', '/teacher_sessions/new' %></li>
        <% if session[:current_user]%>
          <% if session[:current_user].class == Teacher %>
            <li><%= link_to 'Moja začetna stran', '/teacher_home'%></li>
          <% end %>
        <% end %>
        <% if session[:current_user]%>
          <% if session[:current_user].class == Parent %>
            <li><%= link_to 'Moja začetna stran', '/parent_home'%></li>
          <% end %>
        <% end %>
        <li><%= link_to 'Odjava', '/logout' %></li>
      </ul>
    </div>


    <div class="w3-row">
      <div class="w3-container w3-threequarter w3-section">
        <%= yield %>
      </div>

      <div class="w3-container w3-quarter w3-border-left w3-section">
        <hr>
        <article class="w3-container">
          <h4>Uporabnik</h4>
          <p>
          <% if session[:current_user]%>
            <%= "Pozdravljeni, #{session[:current_user].surname}, #{session[:current_user].name}." %>
          <% else %>
            Niste vpisani.
          <% end %>
          </p>

          <% if session[:current_user]%>
            <p>Če to niste vi, se odjavite in ponovno prijavite.</p>
          <% end %>
        </article>
        <hr>

        <article class="w3-container w3-section">
          <h4>Pomoč</h4>
          <ul class="w3-navbar w3-light-grey">
            <li><%= link_to 'Ponastavi geslo', '/passwordreset/edit' %></li>
            <li><%= link_to 'Navodila', '/instructions' %></li>
            <li><a href="#">Piši administratorju</a></li>
          </ul>
        </article>
        <hr>

        <article class="w3-container w3-section">
          <h4>Obvestila</h4>
            <button id="recent_posts_button" class="w3-btn w3-blue-grey">Zadnja obvestila</button>
            <button id="all_posts_button" class="w3-btn  w3-blue-grey">Vsa obvestila</button>

          <div id="recent_posts">
            <% if recent_posts.any? %>

                <% recent_posts.each do |recent_post| %>
                  <section class="w3-container w3-section w3-blue-grey">
                    <h5><%= recent_post.title %></h5>
                    <%= recent_post.body %>
                    <hr>
                    <%= recent_post.published_at.strftime("%d. %m. %Y") %>
                  </section>
                <% end %>
            <% else %>
              <p class="placeholder">Ni obvestil.</p>
            <% end %>
          </div>

          <div id="all_posts_home">
            <% if posts.any? %>
                <% posts.each do |post| %>
                  <section class="w3-container w3-section w3-blue-grey">
                    <h5><%= post.title %></h5>
                    <%= post.body %>
                    <hr>
                    <%= post.published_at.strftime("%d. %m. %Y") %>
                  </section>
                <% end %>
            <% else %>
              <p class="placeholder">Ni obvestil.</p>
            <% end %>
          </div>
        </article>
      </div>
    </div>


    <footer class="w3-container w3-blue-grey">
      <section class="w3-center">
        <h5>Vse pravice pridržane &copy; 2016 Sebastjan Hribar</h5>
      </section>
    </footer>
    <%= javascript 'jquery-2.2.2.js', 'application.js', 'jquery-ui.js' %>
  </body>
</html>
