<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :passwordupdate, "/passwordupdate/#{token}", method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Posodobi geslo"
          end
        end
      end
      tr do
        td do
          label         "Novo geslo"
        end
        td do
          password_field :new_password
        end
      end
      tr do
        td do
          label         "Ponovitev gesla"
        end
        td do
          password_field :repeat_password
        end
      end
    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
