body {
    background: #B2C2D1;
    font-size: 87.5%;
    font-family: sans-serif;
    color: #666666;
    line-height: 1.7em;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #41576C;;
}
input {
    height: 20px;
    width: 60%;
    font-size: 87.5%;
}

.tlight {
    height: 13%;
    width: 13%;
}

.main {
    padding-bottom:60px;
}

a:hover {
    color: #666666;
}

h2 {
    color: #41576C;
}

.clr {
    clear: both;
}

#container {
    width: 80%;
    margin: 0 auto;
    _overflow: auto;
    clear: both;
    min-height: 100%;
}

p {
    color: #41576C;
}

.main-header #logo {
    width: 9%;
    margin: 10px 0;
    display: block;
    transition: width 2s;
}

.main-header .main-nav {
    background: #8099B3;
    height: 40px;
    border: 1px #666666 solid;
}

.main-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .main-nav li {
    color: #ffffff;
    display: inline;
    float: left;
    margin-right: 3px;
}

.main-header .main-nav li a {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    height: 20px;
}

.main-header .main-nav li a:hover, .main-header .main-nav li a.active {
    background: #efeadd;
    color: #666666;
}

#content {
    width: 70%;
    float: left;
    _overflow: auto;
}

#sidebar {
    width: 30%;
    float: left;
}

#sidebar .block {
    background: #ffffff;
    padding: 10px 15px;
    margin: 10px 0 0 10px;
}

.inst-block {
    background: #ffffff;
    padding: 10px 15px;
    margin: 10px 0 0 0;
    width: 77%;
}

#footer {
    background: #8099B3;
    height: 40px;
    border: 1px solid #666666;
    position: absolute;
    width:80%;
    margin-top: 15px;
}

#small {
    font-size: small;
}

.vnos {
    _width: 100px;
    height: 30px;
    margin-top: 10px;
    font-size: small;
}

.vnos:hover {
    background: #8099B3;
}


#footer p {
    color: #ffffff;
    margin: 0;
    padding: 10px 0 0 0;
    text-align: center;
}

#table_style {
    border: 1px solid #e3e3e3;
    background-color: #f2f2f2;
    width: 80%;
    overflow: auto;
    padding: 10px 20px;
    margin-top: 10px;
    transition: width 1s;
}

#table_style td, #table_style th {
    padding: 5px;
    color: #333;
}

#table_style thead {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding: .2em 0 .2em .5em;
    text-align: left;
    color: #4B4B4B;
    background-color: #C8C8C8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
    background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
    border-bottom: solid 1px #999;
}

#table_style th {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-shadow: white 1px 1px 1px;
}

#table_style td {
    line-height: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

#table_style tr {
    height: 15px;
}

#table_style td:hover {
    background-color: #fff;
}

.nav_button {
  background-color: lightgrey;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
}

a.nav_button:hover {
  background-color: darkgrey;
}

div.success-notice {
    width: 85%;
    height: 40px;
    background-color: #00FFCC;
    text-align: center;
    position: relative;
    font-size: medium;
    vertical-align: middle;
    line-height: 40px;
}

div.failed-notice {
    width: 85%;
    height: 40px;
    background-color: #CC3300;
    text-align: center;
    position: relative;
    font-size: medium;
    vertical-align: middle;
    line-height: 40px;
    color: black;
}

#all_posts_home {
    display: none
}


/* Tablets/iPads (Portrait and Landscape) */
@media only screen and (min-width : 768px) and (max-width : 960px) {
    #container {
        width: 95%;
    }
    
    .main-header img#logo{
        margin: auto;
        display: block;
        width: 65%;
        transition: width 2s;
    }
    
    .main-header .main-nav {
        display: block;
        transition: height 1s;
    }
    
    #content{
        width: 100%;
        float: none;
    }
    
    #sidebar{
        width: 100%;
        float: none;
    }
    
    #sidebar .block {
        margin-left: 0;
    }
}

/* Smaller Tablets/iPads (Portrait and Landscape) */
@media only screen and (min-width : 569px) and (max-width : 767px) {
    #container{
        width: 95%
    }
    
    .main-header img#logo{
        margin: auto;
        display: block;
        width: 65%;
    }
    
    .main-header .main-nav {
        height: auto;
        display: block;
        overflow: hidden;
        width: 99%;
        transition: width 1s;
    }
    
    .main-header .main-nav ul {
        padding: 2% 1%;
        text-align: center;
        width: 98%;
    }
    
    .main-header .main-nav li {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #666666;
    }
    
    .main-header .main-nav li a {
        margin-bottom: 2px;
        text-align: center;
    }
    
    .main-header .main-nav li a:hover, .main-header .main-nav li a.active {
        display: block;
    }
    
    #content{
        width: 100%;
        float: none;
    }
    
    #sidebar{
        width: 100%;
        float: none;
    }
    
    #sidebar .block {
        margin-left: 0;
    }
    
}

/* Smart phones (Portrait and Landscape) */
@media only screen and (min-width : 240px) and (max-width : 568px) {
    #container{
        width: 95%
    }
    
    .main-header img#logo{
        margin: auto;
        display: block;
        width: 95%;
    }
    
    .main-header .main-nav {
        height: auto;
        display: block;
        overflow: hidden;
        width: 99%;
    }
    
    .main-header .main-nav ul {
        padding: 2% 1%;
        text-align: center;
        width: 98%;
    }
    
    .main-header .main-nav li {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        border-bottom: 1px solid #666666;
    }
    
    .main-header .main-nav li a {
        margin-bottom: 2px;
        text-align: center;
    }
    
    .main-header .main-nav li a:hover, .main-header .main-nav li a.active {
        display: block;
    }
    
    #content{
        width: 100%;
        float: none;
    }
    
    #sidebar{
        width: 100%;
        float: none;
    }
    
    #sidebar .block {
        margin-left: 0;
    }
    
}