<%= render partial: 'shared/notice'%>

<section class="w3-section">

<%=
  form_for :teacher, routes.teacher_path(teacher.id), method: :patch do
    table class: "w3-table w3-striped w3-border" do
      thead do
        tr class: "w3-blue-grey" do
          th colspan: 2 do
            "Posodobi učitelja"
          end
        end
      end
      tr do
        td do
          label         "Ime"
        end
        td do
          text_field    :name, value: teacher.name
        end
      end

      tr do
        td do
          label         "Priimek"
        end
        td do
          text_field    :surname, value:  teacher.surname
        end
      end

      tr do
        td do
          label         "E-pošta"
        end
        td do
          text_field    :email, value: teacher.email
        end
      end

      tr do
        td do
          label         "Vloga: #{teacher.role}"
        end
        td do
          select    :role, t_roles, class: "w3-select"
        end
      end
    end

    div do
      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  end
%>
</section>
