<%= render partial: 'shared/notice'%>

<section class="w3-section">
    <h3>Učitelji</h3>

  <% if teachers.any? %>

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th>Ime</th>
        <th>Priimek</th>
        <th>E-pošta</th>
        <th colspan=2>Prikaz in urejanje</th>
      </tr>
      </thead>
        <% teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.name %></td>
            <td><%= teacher.surname %></td>
            <td><%= teacher.email %></td>
            <td><%= link_to "Prikaži", "/teachers/#{teacher.id}", class: "w3-btn w3-blue-grey" %></td>
            <td><%= link_to "Uredi", "/teachers/#{teacher.id}/edit", class: "w3-btn w3-blue-grey" %></td>
          </tr>
        <% end %>
    </table>
  <% else %>
    <p class="placeholder">Ni učiteljev.</p>
  <% end %>
</section>
