<%= render partial: 'shared/notice'%>

<section class="w3-section">

  <table class="w3-table w3-striped w3-border">
    <thead>
      <tr class="w3-blue-grey">
        <th colspan="2">
          Učitelj
        </th>
      </tr>
    </thead>
      <tr>
        <td>Ime</td>
        <td><%= teacher.name %></td>
      </tr>
      <tr>
        <td>Priimek</td>
        <td><%= teacher.surname %></td>
      </tr>
      <tr>
        <td>E-pošta</td>
        <td><%= teacher.email %></td>
      </tr>
      <tr>
        <td>Vloga</td>
        <td><%= teacher.role %></td>
      </tr>
    </table>
</section>
