<%= render partial: 'shared/notice'%>

<section class="w3-container w3-section">
  <%=
    form_for :parent_booking, "/parent_booking", method: :patch, class: "w3-container" do
        table class: "w3-table w3-striped w3-border" do
          thead do
            tr class: "w3-blue-grey"do
              th colspan: 2 do
                h5 "Prijava na govorilne ure"
              end
            end
          end
          tr do
            td do
              label         "Mesec"
            end
            td do
              select :month_id, months, class: "w3-select"
            end
          end

          tr do
            td do
              label         "Dan"
            end
            td id: "conference_day" do

            end
          end

          tr do
            td do
              label         "Učitelj"
            end
            td do
              select :teacher_id, t_values, class: "w3-select"
            end
          end

          tr do
            td do
              label         "Termin"
            end
            td do
              select :slot_id, slot_values, class: "w3-select"
            end
          end

          tr do
            td do
              label         "Opomba"
            end
            td do
              text_area :parent_comment
            end
          end
        end

        submit 'Potrdi', class: "w3-btn w3-blue-grey"
      end
  %>
</section>
