<%= render partial: 'shared/notice'%>

  <%=
    form_for :teacherbooking, "/teacherbooking", method: :patch, class: "w3-container" do
      table class: "w3-table w3-striped w3-border" do
        thead do
          tr class: "w3-blue-grey"do
            td colspan: 2 do
              h5 "Prijava starša na govorilne ure"
            end
          end
        end
        tr do
          td do
            label         "Mesec"
          end
          td do
            select :month_id, months, class: "w3-select"
          end
        end

        tr do
          td do
            label         "Dan"
          end
          td id: "conference_day" do

          end
        end

        tr do
          td do
            label         "Starš"
          end
          td do
            select :parent_email, parent_email_values, class: "w3-select"
          end
        end

        tr do
          td do
            label         "Termin"
          end
          td do
            select :slot_id, slot_values, class: "w3-select"
          end
        end
        hidden_field :teacher_id, id: "teacher", value: session[:current_user].id
      end

      submit 'Potrdi', class: "w3-btn w3-blue-grey"
    end
  %>
</section>
